.container-fluid	
	// <!-- hau -->

	.vung4
		height 40px
		background white
		.v4-1
			height 40px			
			i 
				line-height 40px
				color black
				margin-right 10px
				float left
				p 
					font-size 12px
					float right
					padding-left 2px		
		.v4-2
			height 40px					
		.v4-3			
			.fa-google-plus-g
				line-height 40px
				margin-left 5px
			.fa-youtube-square
				line-height 40px
				margin-left 5px
		.fa-google-plus-g:hover
			color red
		.fa-youtube-square:hover
			color red
	// ------------
	.hau
		hr
			height 1px
		.hau-1
			// background pink
			height auto
			input
				margin-top 35px
				width 100%
		.hau-2
			// background gold
			img
				display block
				margin 0 auto
				margin-top 25px
		.hau-3
			// background grey	
			.hauicon				
				// background yellow
				margin-top 27px
				.hauicon-1
					width 50px
					height 50px
					float left
					// width: 20%
					background grey					
					border-radius 50%
					font-size 25px
					padding-left 10px
					padding-top 8px
					&:hover
						background red	   
				.hauicon-2
					float left
					padding-top 15px
	.hau001
		margin 0 
		height: 50px		
		padding 0
		.nav
		    .nav-item
			    li
				    &:hover
					    background black
	// <!-- end hau -->
	// <!-- son -->
	// <!-- end son -->
	// <!-- hung -->
	// <!-- end hung -->
	// <!-- duy -->
	.duy
		height auto
		.titled
			float left
			width 51%
			h1
				color gray
		.titled2
			float left
			width 49%	
			h1
				color gray
		.sldw1
			float left
			width 49%
			.hsl1
				float left
				width 49%
				height auto
				h1
					text-align center
					color gray
					font-size 100%
				.inp
					
					img
						width 100%
						&:hover
								width 105%
				.sao
					padding-left 33%
					width 70%
					img
						// padding-left 10%
						float left
						margin-left 4%
						width 13%
				p
					font-weight bold
					font-size 100%
					clear left
					text-align center
					a
						text-decoration none
						color red
						&:hover
							color green
							text-decoration none
				.sb
					
					width 60%
					height 30px
					background lightgray
					border-radius 15px
					margin-left 22%
					display block
					text-align center
					a
						color brown
						
					.icc
						text-align center
						.fas
							display none
							font-size 140%
					&:hover
						a
							display none
						background none
						.icc
						text-align center
						.fas
							margin 0 auto
							display block
			.carousel-control-prev
				height 8%
				background lightgray
				width 10%
				top -10%
				left 78%
			.carousel-control-next
				height 8%
				background lightgray
				width 10%
				top -10%
				left 90%		
							

			.hsl2
				float right
				width 49%
				height 100%
				h1
					text-align center
					color gray
					font-size 100%
				.inp
					
					img
						width 100%
						&:hover
							width 105%
				.sao
					padding-left 33%
					width 70%
					img
						// padding-left 10%
						float left
						margin-left 4%
						width 13%
				p
					font-weight bold
					font-size 100%
					clear left
					text-align center
					a
						text-decoration none
						color red
						&:hover
							color green
							text-decoration none
				.sb
					
					width 60%
					height 30px
					background lightgray
					border-radius 15px
					margin-left 22%
					display block
					text-align center
					a
						color brown
						
					.icc
						text-align center
						.fas
							display none
							font-size 140%
					&:hover
						a
							display none
						background none
						.icc
						text-align center
						.fas
							margin 0 auto
							display block
		.sldw2
			float right
			width 49%
			.hsl1
				float left
				width 49%
				height 100%
				h1
					text-align center
					color gray
					font-size 100%
				.inp
					
					img
						width 100%
						&:hover
							width 105%
				.sao
					padding-left 33%
					width 70%
					img
						// padding-left 10%
						float left
						margin-left 4%
						width 13%
				p
					font-weight bold
					font-size 100%
					clear left
					text-align center
					a
						text-decoration none
						color red
						&:hover
							color green
							text-decoration none
				.sb
					
					width 60%
					height 30px
					background lightgray
					border-radius 15px
					margin-left 22%
					display block
					text-align center
					a
						color brown
						
					.icc
						text-align center
						.fas
							display none
							font-size 140%
					&:hover
						a
							display none
						background none
						.icc
						text-align center
						.fas
							margin 0 auto
							display block
				
			.hsl2
				float right
				width 49%
				height 100%
				h1
					text-align center
					color gray
					font-size 100%
				.inp
					
					img
						width 100%
						&:hover
							width 105%	
				.sao
					padding-left 33%
					width 70%
					img
						// padding-left 10%
						float left
						margin-left 4%
						width 13%
				p
					font-weight bold
					font-size 100%
					clear left
					text-align center
					a
						text-decoration none
						color red
						&:hover
							color green
							text-decoration none
				.sb
					
					width 60%
					height 30px
					background lightgray
					border-radius 15px
					margin-left 22%
					display block
					text-align center
					a
						color brown
						
					.icc
						text-align center
						.fas
							display none
							font-size 140%
					&:hover
						a
							display none
							background blue
						.icc
						text-align center
						.fas
							margin 0 auto
							display block
			.carousel-control-prev
				height 8%
				background lightgray
				width 10%
				top -10%
				left 78%
			.carousel-control-next
				height 8%
				background lightgray
				width 10%
				top -10%
				left 90%

	// <!-- end duy -->
	// <!-- phong -->
	// <!-- end phong -->
	// <!-- thang  -->
	// <!-- end thang -->
	// <!-- dat  -->
	// <!-- end dat -->