.container-fluid	
	/*<!-- hau -->
	<!-- end hau -->
	<!-- son -->
	<!-- end son -->
	<!-- hung -->
	<!-- end hung -->
	<!-- duy -->
	<!-- end duy -->
	<!-- phong -->
	<!-- end phong -->
	<!-- thang  -->
	<!-- end thang -->
	<!-- dat  -->
	<!-- end dat -->*/