.container-fluid	
	// <!-- hau -->
	// <!-- end hau -->
	// <!-- son -->
	// <!-- end son -->
	// <!-- hung -->
	// <!-- end hung -->
	// <!-- duy -->
	// <!-- end duy -->
	// <!-- phong -->
	// <!-- end phong -->
	// <!-- thang  -->
	// <!-- end thang -->
	// <!-- dat  -->
	.dat 
			background rgb(206, 212, 221)
			height auto
			.dat1
				// background grey 
				height auto
				.v1
					// background pink 
					height auto
					border-right 2px solid white
					.v1-1
						// background gold
						height auto
						margin-top 7%
						margin-bottom 5%
					.v1-2
						// background grey
						height auto
					h5
						text-transform uppercase
					
					.v1-3
						height 40px
						// background yellow
						margin-top 15px
						.card
							width 20%
							height 40px
							// background red
							float left
				.v2
					height auto 
					// background red			
					.v2-1
						// background pink
						height 120px
						margin-top 10px
						border-bottom 2px solid white
						h5
							padding-top 2%
							text-transform uppercase
						
						.form-group
							.form-control
								text-align center
								width 70%
								float left 		
					.v2-2
						// background pink
						height auto
						#link
							height auto 
							// background yellow
							margin-top 2%
							h5
								text-transform uppercase
								font-size 14px
							.nav-link
								// background pink
								width 70%
								font-size 15px
								color black
			.v3
				height 30px 
				background black
				p 
					line-height 30px
					color white
					padding-left 7%
			.nav-link:hover
				border-bottom 2px solid gold
				text-align center
			.btn:hover
				background gold
				color black
			
			
					
	// <!-- end dat -->